@import '../../common/styles/sass/mixins';

.info {
  width: 48vw;
  height: 42vh;

  ul {

  }

  li {
    @include flex (row, space-between, center);
  }

  .property {
    margin-left: 4vw;
    font-size: 1.6rem;
  }

  .value {
    margin-right: 25vw;
  }
}
