@import '../../common/styles/sass/mixins';

.preview {
  width: 46vw;
  height: 70vh;
  margin: 5vh 3vw;

  background-color: rgba(0, 255, 255, 0.1);
  //background-color: rgba(255, 0, 0, 0.1);

  img {
    width: 800px;
    //mix-blend-mode: lighten  ;
  }

  .test {
    height: 40vh;
    background-color: rgba(0, 255, 255, 0.1);
    mix-blend-mode: color  ;
  }
}
