@import '../../common/styles/sass/mixins';
@import '../../common/styles/sass/variables';

$toggleBorderColor: #161616;
$menuBorderColor: #282828;
$menuBgColor: #212121;
$menuTextColor: #ffffff;

.header {
  @include flex(row, flex-end, center);
  height: 10vh;
  background-color: $bgColorHeader;

  .logo {
    margin-right: auto;
    margin-left: 3vw;
  }

  .basket {
    @include flex(row, center, center);
    position: relative;
    width: 3vw;

    img {
      width: 1.8vw;
    }

    span {
      @include flex(row, center, center);
      position: absolute;
      top: -20%;
      right: 0;
      width: 1.2vw;
      height: 1.2vw;
      border-radius: 50%;
      background-color: $primaryColor;
      color: $bgColor;
      font-size: 1.1rem;
    }
  }

  .toggle {
    width: 3.9vw;
    margin-right: 3vw;
    margin-left: 3vw;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid $toggleBorderColor;
    border-radius: 2px;
    background-color: transparent;

    img {
      width: 2vw;
    }
  }

  .menu {
    z-index: 100;
    position: absolute;
    bottom: 0;
    width: 32vw;
    height: 90vh;
    background-color: $menuBgColor;
    color: $menuTextColor;

    a {
      @include flex(row, center, center);
      width: 100%;
      height: 11.25vh;
      box-sizing: border-box;
      border-top: 1px solid $menuBorderColor;
      border-bottom: 1px solid $menuBorderColor;
      text-align: center;

      &:visited {
        color: $menuTextColor;
      }

      &:hover {
        background-color: $primaryColor;
      }

      &:active {
        position: relative;
        bottom: 1px;
      }
    }

  }
}

//.hidden {
//	visibility: hidden;
//}