@import '../../common/styles/sass/mixins';
@import '../../common/styles/sass/variables';

.footer {
  @include flex (row, center, flex-start);
  height: 12vh;
  box-sizing: border-box;
  border-top: 1px solid $borderColor;
}
