@import '../../common/styles/sass/mixins';
@import '../../common/styles/sass/variables';

.options {
  width: 48vw;
  height: 36vh;

  .info {
    z-index: 10;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 78vh;
    box-sizing: border-box;
    padding: 5vh 3vw;
    background-color: $bgColor;
    font-size: 1.6rem;

    button {
      height: 2.5vh;
      background-color: $bgColor;
      opacity: 0.4;

      &:hover {
        -webkit-box-shadow: 1px 1px 5px -1px rgba(138, 138, 138, 1);
        -moz-box-shadow: 1px 1px 5px -1px rgba(138, 138, 138, 1);
        box-shadow: 1px 1px 5px -1px rgba(138, 138, 138, 1);
        opacity: 1;
      }
    }

    p {
      margin-top: 3vh;
    }
  }

  .header {
    @include flex(row, flex-start, center);
    position: relative;
    height: 10vh;
    background-color: $primaryColor;
    color: $bgColor;

    button {
      @include flex(row, center, center);
      position: absolute;
      width: 5.6vw;
      height: 100%;
      padding: 0;
      background-color: $primaryColorHigh;

      &:active {
        top: 1px;
      }

      img {
        height: 4vh;
      }
    }

    span {
      margin: 0 auto;

      .optionTitle {
        text-transform: lowercase;
      }
    }
  }

  .optionItems {
    @include flex(row, center, center);
    height: 26vh;

  }
}

