@import './common/styles/sass/mixins';

.wrapper {
	background-color: #f8f8f8;
	.content {
		@include flex(row, center, center);
		height: 78vh;
		.rightWrapper {
			box-sizing: border-box;
			border-left: 1px solid #e3e3e3;
		}
	}
}
