@import './common/styles/sass/mixins';
@import './common/styles/sass/variables';

.wrapper {
	background-color: $bgColor;
	.content {
		@include flex(row, center, center);
		height: 78vh;
		.rightWrapper {
			box-sizing: border-box;
			border-left: 1px solid $borderColor;
		}
	}
}
