@mixin flex ($direction, $mainAxis, $minorAxis) {
  display: flex;
  flex-direction: $direction;
  justify-content: $mainAxis;
  align-items: $minorAxis;
}

@mixin box-shadow ($hL, $vL, $bR, $sR, $color) {
  -webkit-box-shadow: $hL $vL $bR $sR $color;
  -moz-box-shadow: $hL $vL $bR $sR $color;
  box-shadow: $hL $vL $bR $sR $color;
}